body {
  background: peachpuff;
}

.generic-button {
  width: 100px;
  height: 60px;
  margin-top: 20px;
  font-size: 3rem;
  background: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}

#GoogleBtn {
  border: 10px solid green;
}


#AnonymousBtn {
  border: 10px solid red;
}

#StartBtnWaitingRoom{
  border: 10px solid orange;
}



//create gameroom scss file
#SubmitBtn {
  border: 10px solid orange;
}

#PromptCodeBox{
  border: 10px solid rgb(0, 238, 255);
}

#QuestionCodeBox{
  border: 10px solid rgb(255, 38, 0);
}

#ConsoleCodeBox{
  border: 10px solid rgb(0, 38, 255);
}
