body {
  background: peachpuff;
}

.generic-button {
  width: 100px;
  height: 60px;
  margin-top: 20px;
  font-size: 3rem;
  background: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}

#GoogleBtn {
  border: 10px solid green;
}

#AnonymousBtn {
  border: 10px solid red;
}

#StartBtnWaitingRoom {
  border: 10px solid orange;
}

.codebox-title {
  display: flex;
  // justify-content: space-between;
  text-align: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.codebox {
  // width: 600px;
  // height: 60px;
  // margin-top: 20px;
  // background: blue;
  color: white;
  // text-align: center;
  text-decoration: none;
  // border-radius: 7px;
  border: 1px solid white;
}

.panel {
  // height: 50vh;
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
}

.code-mirror-container {
  width: 400px;
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
